@import url('./tailwind.css');
@import url('./fonts.en.css');
@import url('./fonts.zh.css');
@import url('./markdown.css');

@layer base {
  html {
    color-scheme: light;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

    font-family: 'Kanit', 'PingFang ZH', sans-serif;
  }

  html.dark {
    color-scheme: dark;
  }

  body {
    @apply transition-colors duration-500;
    @apply text-gray-900 dark:text-white bg-white dark:bg-black;
  }

  code {
    font-family: 'JetBrains Mono', monospace;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-1;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply hidden;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-main-500/20 rounded-full;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-main-500/80 dark:bg-main-500;
  }

  .scrollbar-lg::-webkit-scrollbar {
    @apply w-1.5;
  }

  .scrollbar-lg::-webkit-scrollbar-track {
    @apply hidden;
  }

  .scrollbar-lg::-webkit-scrollbar-thumb {
    @apply bg-main-500/20 rounded-full;
  }

  .scrollbar-lg::-webkit-scrollbar-thumb:hover {
    @apply bg-main-500/80 dark:bg-main-500;
  }
}

@layer components {
}
